body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-image: url("../images/calendar_leaves.jpg");
    font-family: Verdana;
}

h2 {
    font-family: "Tw Cen MT";
    letter-spacing: 12px;
    text-transform: uppercase;
    text-align: center;
}

button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-family: Verdana;
}

#header {
    width: 100%;
    height: 12rem;
    background-color: #86998c;
    font-family: "Tw Cen MT";
    font-size: 32pt;
    letter-spacing: 20px;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

#header button {
    background-color: #3a4c3c;
}

#container {
    width: 770px;
}
#weekdays {
    width: 100%;
    display: flex;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
#weekdays div {
    width: 100px;
    padding: 10px;
}
#calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.day:hover {
    background-color: #e8faed;
}

.day + #currentDay {
    background-color: #d2e0d8;
}

.event {
    font-size: 10px;
    padding: 3px;
    background-color: #72535e;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
}

#newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #d2e0d8;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
}

#eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
    font-family: "Verdana";
}

#eventTitleInput.error {
    border: 2px solid #72535e;
}

#cancelButton, #deleteButton {
    background-color: #72535e;
}

#saveButton, #closeButton {
    background-color: #616c64;
}

#eventText {
    font-size: 14px;
}

#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
}

#HomeButton a {

    text-decoration: none;
    color: white;

}



























