body {
    background-image: url("../images/homepage.png");
    font-family: Verdana;
}

.box {
    position: absolute;
    width: 300px;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #86998c;
    text-align: center;
}

.box input[type="Submit"], .box input[type="Registration"]{
    border:0;
    background: #3a4c3c;
    color: white;
    text-transform: uppercase;
    font-family: Verdana;
    letter-spacing: 7px;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3a4c3c;
    padding: 10px 40px;

    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.box input[type="submit"]:hover,.box input[type="registration"]:hover{
    background: #3e8e41;
}