body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-image: url("../images/homepage.png");
    width: 1582px;
    height: 1125px;
    font-family: Verdana;
}

.box input[type="submit"], .box input[type="registration"]{
    border:0;
    background: #3a4c3c;
    color: white;
    text-transform: uppercase;
    font-family: Verdana;
    letter-spacing: 7px;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3a4c3c;
    padding: 10px 40px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.box input[type="submit"]:hover,.box input[type="registration"]:hover {
    background: #7f9084;
}