body {
    background-color: #ebefeb;
}

#top {
    text-align: center;
}

#footer {
    text-align: center;
    color: dimgray;
    font-family: Verdana;
    font-size: 0.7em;
    padding: 16px;
}

#logo-name {
    font-size: 45pt;
    font-family: "Tw Cen MT";
    color: dimgray;
    font-weight: normal;
    letter-spacing: 0.9em;
    margin: 8px;
}

#navigation a {
    color: dimgrey;
    font-family: Verdana;
    font-size: 10pt;
    text-transform: uppercase;
    padding: 100px;
}

#navigation a:hover {
    color: #86998c;
    font-weight: bold;
}

h1 {
    color: dimgrey;
    text-align: center;
    font-family: "Tw Cen MT";
    letter-spacing: 0.8em;
    font-size: 3em;
    margin-top: 3em;
    border-bottom-width: 3px;
    border-bottom-color: dimgray;
    border-bottom-style: solid;
}
h2 {
    color: dimgray;
    text-align: center;
    font-family: "Tw Cen MT";
    letter-spacing: 0.40em;
    font-size: 2em;
}
h3 {
    color: dimgray;
    text-align: center;
    font-family: "Tw Cen MT";
    letter-spacing: 0.40em;
    font-size: 0.2em;
    margin-top: 10em;
}
p {
    color: dimgray;
    text-align: left;
    font-family: Verdana;
    font-size: 1em;
}

#image img {
    width: 99.5%;
    margin-top: 16px;
    margin-bottom: 16px;

}

.center {
    margin-top: 100px;
}

#about-us {
    background-color: white;
    max-width: 800px;
    margin: auto;
}

#tools {
    max-width: 800px;
    margin: auto;
}

#boxCalendar, #boxEShop, #boxChat {
    display: inline-block;
    width: 31.5%;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: white;
    box-sizing: border-box;
    font-family: "Tw Cen MT";
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    letter-spacing: 12px;
    color: white;
    border: none;
}

.textBox{
    position: relative;
    text-decoration: none;
    color:dimgray;
    bottom:10px;
}
#impressum {
    max-width: 800px;
    margin: auto;
}
#newsdiv{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 40px;
}