*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    color: dimgray;
    letter-spacing: 2px;
}
body{
    background-color: #86998c;
}

.main{
    max-width: 500px;
    width: 100%;
    background: #ebefeb;
    margin: 20px auto;
    padding: 30px;
}

.main .title{
    font-weight: lighter;
    margin-bottom: 25px;
    font-family: "Tw Cen MT";
    font-size: 35px;
    letter-spacing: 15px;
    text-transform: uppercase;
    text-align: center;
    background-color: #3a4c3c;
    color: white;
}

.main .box{
    width: 100%;
}
.main .box .input_field{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.main .box .input_field label{
    width: 200px;
}

.main .box .input_field .input,
.main .box .input_field textarea{
    width: 100%;
    border: 1px solid #3a4c3c;
    font-size: 15px;
    border: 2px solid #3a4c3c;
    padding: 10px 10px;
    width: 200px;
    border-radius: 30px;
    transition: 0.5s;
}

.main .box .input_field .custom_select{
    width: 100%;
    height: 40px;
}

.main .box .input_field .custom_select select{
    color: #3a4c3c;
    margin-left: 63px;
    border: 1px solid black;
    height: 100%;
    border: 2px solid #3a4c3c;
    padding: 10px 10px;
    width: 200px;
    border-radius: 20px;
    transition: 0.5s;
}